<div class="about">
  <div class="about-area">
    <div class="about-main">
<p>閲覧ありがとうございます。</p>
<p>こちらはポートフォリオ用のツイッターの疑似サイトです。</p>
<hr color="lavender">
<p>実装した機能</p>

ログインログアウト機能/
投稿一覧表示機能/
投稿詳細表示機能/
投稿機能/
投稿検索機能/
いいね機能<br>
フォローフォロワー機能 "gem acts_as_follower"/
画像ファイルアップロード機能(プロフィールのみ)<br>
ページネーション機能"will_paginate,3.1.6"/
セキュリティ、validation gem bcrypt
<hr color="lavender">
<p>使用した言語等</p>

AWSのcloud9でruby/RubyonRailsを使用しました。<br>
バージョン管理はGitを使用し、改修単位ごとにbranchを作ってGithubにpushをしています。<br>
また、デプロイはherokuを使用しています。<br>
<%=link_to("https://github.com/kkfender/tweet_app","https://github.com/kkfender/tweet_app")%><br>
<hr color="lavender">
<p>制作期間</p>
約20日ほどです。
<hr color="lavender">
<p>参考サイト、書籍</p>
<サイト><br><br>
<ul>
  <li>
    <%=link_to("Progate","https://prog-8.com/")%>
  </li>
  <li>
    <%=link_to("railsチュートリアル","https://railstutorial.jp/")%>
  </li>
  <li>
    <%=link_to("Qiita","https://qiita.com/")%>
  </li>
  <li>
    <%=link_to("teratail","https://teratail.com/")%>
  </li>
</ul>
<br>
<書籍>
<br>
<br>
<ul>
  <li>
    <%=link_to("現場で使えるRuby on Rails5速習実践ガイド","https://www.amazon.co.jp/現場で使える-Ruby-Rails-5速習実践ガイド-大場寧子/dp/4839962227")%>
  </li>
</ul>
<hr color="lavender">
<p>終わりに</p>
  <ul>
    <li>テスト
  </li>
  <br>
  単体テストと統合テストに関して知識不足もあり、ほとんど行えていなえていません。今後はしっかりと学習時間を取って、RSpec,Capybara,FactoryBot等でテストの
	作成をメインに学習していきたいと考えています。
	<br>
		<br>
   <li>Rubyらしい記述
  </li>
  <br>
  erbから脱却しhamlやslimでの記述、form_tagではなくform_for、form_withでの記述など、Rubyらしく書き換えたいです。
	また、カスタムヘルパーをあまり使用していないのでHTML内で冗長な記述になっています。
	今後リファクタリングをする際に可読性、保守性に優れたコードを書きたいと思います。
	<br>
		<br>
   <li>実装したい機能
  </li>
  <br>
  画像投稿機能、返信機能、メッセージ機能、確認画面、ソート機能、管理ユーザーに関する機能等を追加したいです。
	また、非同期処理で画面遷移させずにアクションを起こしたいです。	
  </ul>
    </div>
  </div>
</div>