<div class="main">
  <div class="serch">
    <div class="serch-form">
      <div class="serch-main">
    <p font-size="10px">検索</p>
      <%= form_tag("/posts/search",:method => 'get') do %>
        <%= text_field_tag :search,"",:placeholder => "投稿内容を検索してください" %><br><br>
        <%= submit_tag 'Search', :name => nil ,class: "button1" %><br><br>
      <% end %>  
      </div>
    </div>
  </div>
  <% @posts.each do |post|%>
    <div class="post-index-back">
      <div class="post-index-cover">
        <div class="post-main">
          <div class="post-main-box">
            <% if post.user.present? %>
              <div class="post-index-img">
                <img src="<%= "/user_images/#{post.user.image_name}" %>">
              </div>
                <div class="post-index-inner">
                  <div class="post-main-detail">
                    <%=link_to(post.user.name, "/users/#{post.user.id}", class: "post-index-name")%>
                    <%= post.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[post.created_at.wday]})")  %>
                  </div>
                    <p class="post-index-content"><%=post.content%></p>
                   <div class="post-index-action">
                     <% if Like.find_by(user_id: @current_user.id,post_id: post.id)%>
                       <%= link_to("/likes/#{post.id}/destroy",{method: "post"},class:"post-detail") do %>
                       <span class="fa fa-heart like-btn-unlike"></span>
                     <%end%>
                     <%else%>
                       <%= link_to("/likes/#{post.id}/create", {method: "post"},class:"post-detail",:select_id => "a") do %>
                         <span class="fa fa-heart like-btn"></span>
                      <%end%>
                    <%end%>
                       <%= post.like_count %>   
                     <%if post.user_id==@current_user.id%>
                       <%=link_to("編集","/posts/#{post.id}/edit",class:"post-detail")%>
                       <%=link_to("削除","/posts/#{post.id}/destroy",{method: "post",class:"post-detail"})%>
                     <%end%>
                    </div>
              <% end %>
         </div>
       </div>
     </div>
    </div>
  </div>
   <%end%>
</div>

