/****************     共通      ****************/
 * {
box-sizing: border-box;
/*border: 1px solid #aaa;*/
/*font-family: Impact,Charcoal ;*/
}
html {
/*background-image: url("/tweet.png");*/
/*  background-size: cover;*/
  height: 100%;
}
body {
  color: #2d3133;
  min-height: 1vh;
  margin: 0;
  height: 100%;
}
header {
  margin:0 auto;
}
h1,h2,h3 {
  font-size:35px;
  font-family:fantasy ;
}
p {
  font-size:25px;
  font-family:sans-serif ; 
}
a {
  text-decoration: none;
   color:#ffa500;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
} 

input {
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  width:300px;
  height:30px;
}
input:focus {
  border:solid 1px #EEA34A;
}

/****************     main      ****************/

.main-top {
background-image: url("/top.jpg");
background-size:cover;
margin:0 auto;
width:900px;
height:550px;
}
.main-inner {
  text-align: center;
  margin:0 auto;
  width:50%;
  height:200px;
  background-color: white;
  border-radius: 5% ;
  opacity: 0.5;
  top:30%;
  position: relative

}
.infomation {
  font-size:20px; 
  font-weight: bold;
  color:red;
  padding-top:60px;
  font-family: 'Hiragino Kaku Gothic ProN';
}
a:visited{
  color: #ffa500;
}
a:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.post-index,.post-detail,.post-edit {
  font-size:20px;
}

/****************     header     ****************/

.header-top {
  height: 50px;
  top: 0;
  width: 100%;
  background-color: #3ecdc6;
  margin:0 auto;
  padding:0;
}
.header-logo {
  float: left;
  padding-left: 22px;
  margin-top: 13px;
  color: white;
  font-size: 22px;
}
.main img {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
}
.header-menus{
/*float:left;*/
  margin:0 auto;
  padding-right: 20px;
  font-size: 20px;
}
.header-menus li{
  float: right;
  line-height: 50px;
  font-size: 13px;
  color: white;
  padding-left: 0;
/*margin-top:13px;*/
  position: relative;
  list-style: none;
	z-index:100
}
.header-menus a {
  color: white;
}
.header-menus li a {
  display: block;
  width: 150px;
  height: 50px;
  text-align: center;
  color: #fff;
  background:  #3ecdc6;
  transition: 0.5s;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 20px;
 
}
.header-menus > li:hover > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
}
.header-menus > li li:hover > a {/*layer-2*/
  color: olive;
  background: #afc6e2;
}
.header-menus li ul {
  top: 50px;
  left: -50px;
  position: absolute;
}
.header-menus li ul li {
  overflow: hidden;
  height: 0;
  transition: 0.2s;
}
.header-menus li ul li a {
  border-top: 1px solid #eee;
}
.header-menus li:hover > ul > li {
  overflow: visible;
  height: 50px;
}
.header-menus li ul li ul {
  top: 0;
  left: 110px;
}
.header-menus li ul li ul:before {/*layer-2▷*/
  position: absolute;
  top: 15px;
  left: 30px;
  border: 5px solid transparent;
  border-left: 5px solid #fff;
}
.header-menus li ul li ul li:hover > a {/*layer-3*/
    color: pink;
    background-color:cyan ;
  }
.header-menus li ul li ul.left {
  top: 0;
  left: -190px;
}
.header-menus li ul li ul.left:before,/*layer-2-left▷*/
.header-menus li ul li ul li ul.left:before {/*layer-3-left▷*/
  position: absolute;
  top: 15px;
  left: 190px;
  border: 5px solid transparent;
}
.header-menus li ul li ul.left li:hover > a {/*layer-2-left*/
  color: pink;
  background:#e8fffd;
  }
.header-menus li ul li ul li ul.left li:hover > a {/*layer-3-left*/
  color: purple;
  background: #e8fffd;
}
  
 /******************** new ********************/

.new-main {
  width:100%;
  margin:0;
  background-color:white;
}
.resister-area {
  background-color:#f4ffff;
  width:900px;
  margin:auto ;
  padding:50px 0;
  text-align:center;
}
.inner-area {
  width:500px;
  margin:0 auto;
  padding: 0;
  text-align:center;
  background-color:white;
}
.input-area {
  background-color:white;
  margin:auto ;
  font-size:20px;
 }
 .text-area {
  width:300px;
  height:100px;
  margin:0 auto;
  font-size:20px;
  background-color:white;
}
 
/******************     like      *********************/

.like-btn {
  color: #8899a6;
}
.like-btn-unlike {
  color: #ff2581;
}
.posts-show-item .fa {
  font-size: 20px;
  margin-right: 3px;
}

/******************     flash      *********************/

.flash {
  width:900px;
  font-size :20px;
  color:#01960b;
  background-color:#c2ead1;
  border-radius: 5%;
  margin:auto;
  text-align:center;
}
.errors  {
  color:red;
}

/******************     button      *********************/

.button1  {
  font-size: 20px;
  padding: 3px;
  background-color: #f7628c;
  color: #fff;
  border-style: none;
  border-radius: 5%;
}
.button1:hover {
  background-color: #f9cfed;
  transition: 1.0s ;
  color: #fff;
  border-radius: 10%;
}

.user-index-table{
  float:left; 
}  
 /***********************************************************/

.caption-d p {
  color: #006633;
  margin:0;
  width:100%;
  text-align:center;
}

 /**************      prof user      **************/

.prof-show-container {
  width: 900px;
  height:auto;
  background-color: lightcyan ;
  margin: auto;
}
.prof-show-container li {
  float:left;
  list-style:none;
  padding-left:5px;
  margin:auto;
}
.user-main-prof {
  margin:auto;
  width:600px;
  height:150px;
}
.prof-show-detail {
  width :80%;
  height:150px;
  background-color :white;
  margin: auto;
  position: relative;
}
.show-users-identfy {
  float:left;
  height:150px;
}
.main-container {
  width: 900px;
  height:auto;
/*  background-color: lightcyan ;*/
  margin: auto;
/*  padding-bottom: 5px;*/
}
.show-image {
  float:left;
  margin:auto;
  height:150px;
  position:relative;
  width:190px;
  text-align:center;
}
.mc-list {
  background-color:#e8fffd;
 /* float:left;*/
  width: 900px;
  border-bottom:solid 1px paleturquoise; 
  padding: 15px 0 0 0;
  overflow: hidden;
}
.user-tabs {
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}
.user-tabs li {
  float: left;
}
.user-tabs li:active {
  border-bottom: 2px solid #3ecdc6;
}
.user-tabs li:active a {
  color: #57575f;
}
/******************      tweet               ********************/
.tweet-container {
  width:90%;
  margin-left:50px;
  background-color: aliceblue;
  float:left;
}
.tweet-main {
  width:85%;
  margin-left:auto;
  margin-right:auto;
  text-align: left;
  background-color:white;
  border-bottom: solid 1px paleturquoise;
  float:left;
}
.tweet-img {
  width:100px;
}
.tweet-user-name {
  font-size: 20px;
  float:left;
}
.tweet-image {
  width: 100px;
  float: left;
}
.tweet-content {
  word-break : break-all;
  float: left;
}
.tweet-user-time {
  font-size: 20px;
}
/*****************      folloes           ******************/
.follow-container {
  width:100%;
 /* margin-left:9px;*/
  background-color: lightcyan;
  float:left;
  padding-top:10px;
  margin-top:-12px;
}
.user-box {
  width:250px;
  height:300px;
  border:solid white; 
  float:left;
  margin-left: 45px;
  margin-bottom: 45px;
  box-shadow: 0 2px 6px #c1ced7;
}
/*****************      user index           ******************/
.user-container{
  width:100%;
  background-color: beige;
}
.user-image {
  width: 100%;
  float: left;
}

.user-index-box {
  height: 250px;
  width: 250px;
  border:solid white; 
  float:left;
  margin-left: 70px;
  margin-bottom:30px;
  box-shadow: 0 2px 6px #c1ced7;
  background-color: white;
}
.user-table {
  background-color: white;
}
.pagination {
  font-size:20px;
  text-align: center;
  clear: both;
  margin-bottom: 20px;
}
.show-index {
  font-family: cursive; 
  margin-left:auto;
  margin-right:auto;
}
/********   post/index  **************/
.post-index-back {
  width: 900px;
  height:auto;
  background-color: lightcyan ;
  margin: auto;
  padding:  10px 0 10px 0px;
}
.post-index-cover {
  width:800px;
  margin:auto;
 }
.post-main {
  width:800px;
  background-color: white;
  padding: 5px 0px 5px 0px;
  margin-bottom: 5px;
  box-shadow: 0 2px 10px #c1ced7;
  border-radius:2%;
}
.post-main-box {
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid #aaa;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.post-index-img {
  width:130px;
  text-align:center;
  float:left;
}
.post-main-detail {
  width :100%;
  margin:0;
  float:left;
}
.post-index-content p{
  width :800px;
  margin:0;
  float:left;
  font-size:25px;
  word-break : break-all;
}
.post-index-inner {
  position:relative;
  height:130px;
  width:600px;
  float:left;
}
.show-menus li{
  float:left; 
   bottom:0;
   padding-left: 10px;
   
}
.post-index-action {
  width:600px;
  float:left;
  position: absolute;
  bottom:0;
}
.action-menus li {
  float:left;
  width:50px;
  height:30px;
  text-align:center;
}

/*********************   userlist  **********************/
.user-list {
  width: 900px;
  height:auto;
  background-color: lightcyan ;
  margin: auto;
  padding-bottom: 5px;
}
.user-profile {
  width:250px;
  height:312px;
  background-color: white;
  float:left;
  margin-left: 38px;
  margin-bottom: 45px;
  box-shadow: 0 2px 6px #c1ced7;
}
.user-list-image {
  width:250px;
  height:150px;
  text-align: center;
  position: relative;
  margin:auto;
}
/*******************   pagination         *******************/
.back-message {
  background-color: #eaebed;
  color:#838484;
  font-size: 13px;
  float:left;
  position: absolute;
  bottom:0;
  margin:auto;
}
/***********************username*************************/
.user-name {
  font-size: 30px;
  font-family: Segoe UI;
}
.follow-info {
  width:470px;
  height:50px;
  float:left;
  position: absolute;
	right: 0;
	bottom: 0;
}
/****************************************************************/
.show-index {
  width:100%;
}
.prof {
  width: 100%;
  text-align:center;
}
.user-profile-page {
  width: 100%;
}
/**************************   footer   ********************************/
.footer {
  width:100%;
  text-align:center;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;;
  padding:10px 0; 
  font-size:15px;
  margin:auto;
  height: 40px;
  background-color:white;
  float:left;
  
}
.nav {
  width:50%;
  float:left;
  margin:-15px;
}
.footer li {
  float:left;
  list-style:none;
  padding-left:20px;
  font-size:15px;
   margin-bottom: 30px;
}
/******************  tabs  **********************/
.link {
  padding-right:20px; 
  float:right;
}
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 900px;
  margin: 0 auto;}
/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}
/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}
/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  background-color: lightcyan;
  clear: both;
  overflow: hidden;
}
/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}
/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}
/************    serch    **************/
.serch {
  width:100%;
  margin:auto;
  text-align:center;
}
.serch-form {
  background-color:lightcyan;
  width:900px;
  margin:auto ;
  padding:50px 0;
  text-align:center;
}
.serch-main {
   width:500px;
  margin:0 auto;
  padding: 0;
  text-align:center;
  background-color:white;
}
/**************      about     **************/

.about {
  width:100%;
  margin:0;
  background-color:white;
}
.about-area {
 background-color:#f4ffff;
  width:900px;
  margin:auto ;
  padding:50px 0;
}
.about-main {
  background-color:#f4ffff;
  width:800px;
  margin:auto ;
  padding:50px 0;
}

/**************************************************/




























































